@rendermode InteractiveServer
@page "/LinuxCPU"
@using System;
@using System.Diagnostics;
@using System.Threading;
@using System.Linq;

<h3>LinuxCPU</h3>

<h4>Commands</h4>

<button class="btn btn-primary" @onclick='(() => runCommand("top"))'>ps</button>
<button class="btn btn-primary">CPU</button>


@if (turnOnButton)
{
    <div>
       <input type="number" class="input input-group-lg" name="pid" @bind-value="pidKill" placeholder="PID number to kill it" />
        <button type="submit" @onclick="() => killProcess(pidKill)" />
    </div>

    <h1>@pidKill</h1>
}


    <table>
        <thead>
          <tr>
              <th>Process</th>
              <th>PID</th>
     
              <th>Memory</th>
              <th>Virtual Memory</th>
          </tr>
        </thead>
        <tbody>

    @foreach(var processes in processList)
    {
       <tr>
          <td>@processes.ProcessName</td> 
          <td>@processes.Id</td>
          <td>@processes.WorkingSet64</td>
          <td>@processes.VirtualMemorySize64</td>
       </tr>
    }
        </tbody>
   
     </table>





@code {

    Process process = new Process();
    Process[] processList = Process.GetProcesses();
    bool turnOnButton = false;
    int pidKill = 0;

    // private Task getProcess()
    // {

    // }

    private async Task<string> killProcess(int pid)
    {
        Process p = Process.GetProcessById(pid);
        System.Diagnostics.Debug.WriteLine($"Killing process with PID: {p}");
        if (processList.Select(x => x.Id).Contains(p.Id))
        {

            p.Kill();

            turnOnButton = false;
        }

        return "";

    }


    private async Task<string> runCommand(string command)
    {
        System.Diagnostics.Debug.WriteLine($"Running command: {command}");
        if(command.Equals("ps"))
        {
            turnOnButton = true;
        }

        return "";
    }




}
